.background {
	width: 100%;
	position: relative;
}

.goalkeeper {
	position: absolute;
	top: 32%;
	left: 47%;
}


.player {
	position: absolute;
	top: 50%;
	left: 40%;
	transition: 1s;
}

.player:hover {
	top: 40%;
}


.ball {
	width: 200px;
	height: 200px;
	position:absolute;
	top: 47%;
	left: 47%;
	transition: 2s;
}



.ball:hover {
	top: 32%;

}





