.background {
	width: 100%;
	position: relative;
}

.goalkeeper {
	/*width: 200px;
	height: 200px;*/
	position: absolute;
	top: 32%;
	left: 47%;
}


.player {
	/*width: 200px;
	height: 200px;*/
	position: absolute;
	top: 50%;
	left: 40%;
	transition: 1s;
}

.player:hover {
	top: 40%;
}


.ball {
	width: 60px;
	height: 60px;
	position:absolute;
	top: 47%;
	left: 47%;
	transition: 2s;
}



.ball:hover {
	top: 32%;

}

.man {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 90%;
	animation: man 1s infinite;
}


@keyframes man {
	from {top: 50%;}
	to { top:45%; }
}





